In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os

import lightgbm as lgb
from sklearn.model_selection import *
from sklearn.metrics import mean_squared_error, make_scorer
from scipy.stats import mode, skew, kurtosis, entropy
from sklearn.ensemble import ExtraTreesRegressor

import matplotlib.pyplot as plt
import seaborn as sns

import dask.dataframe as dd
from dask.multiprocessing import get

from tqdm import tqdm, tqdm_notebook
tqdm.pandas(tqdm_notebook)

import time

In [2]:
def load_data(conf):
    st = time.time()
    if os.path.exists(f'{conf}.feather'):
        out = pd.read_feather(f'{conf}.feather')
        print(f'{conf} data loaded from feather {time.time()-st:.2f} s!')
    else:
        out = pd.read_csv(f'./{conf}.csv.zip')
        print(f'{conf} data loaded from csv {time.time()-st:.2f} s!')
        out.to_feather(f'{conf}.feather')
        print(f'{conf} data save to feather {time.time()-st:.2f} s!')  
    return out 
train = load_data('train')
test = load_data('test')

/Users/mohan/miniconda3/envs/research/lib/python3.6/site-packages/pandas/io/feather_format.py:112: FutureWarning: `nthreads` argument is deprecated, pass `use_threads` instead
  return feather.read_dataframe(path, nthreads=nthreads)

train data loaded from feather 2.92 s!
test data loaded from feather 22.50 s!

In [3]:
transact_cols = [f for f in train.columns if f not in ["ID", "target"]]
y = np.log1p(train["target"]).values

In [4]:
cols = ['f190486d6', '58e2e02e6', 'eeb9cd3aa', '9fd594eec', '6eef030c1',
       '15ace8c9f', 'fb0f5dbfe', '58e056e12', '20aa07010', '024c577b9',
       'd6bb78916', 'b43a7cfd5', '58232a6fb', '1702b5bf0', '324921c7b', 
       '62e59a501', '2ec5b290f', '241f0f867', 'fb49e4212',  '66ace2992',
       'f74e8f13d', '5c6487af1', '963a49cdc', '26fc93eb7', '1931ccfdd', 
       '703885424', '70feb1494', '491b9ee45', '23310aa6f', 'e176a204a',
       '6619d81fc', '1db387535', 'fc99f9426', '91f701ba2',  '0572565c2',
       '190db8488',  'adb64ff71', 'c47340d97', 'c5a231d81', '0ff32eb98']

In [14]:
%%time
test["target"] = train["target"].mean()

all_df = pd.concat([train[["ID", "target"] + cols], test[["ID", "target"]+ cols]]).reset_index(drop=True)
all_df.head()
all_df.shape

CPU times: user 53.2 ms, sys: 46.9 ms, total: 100 ms
Wall time: 86.1 ms

In [26]:
from multiprocessing import Pool, cpu_count
CPU_CORES = 1
def _time_series_info(row):
    try:
        id_1st_nz = row.nonzero()[0][0]
        value_1st_nz = str(row[id_1st_nz])
    except:
        return '0_0.0'   
    return str(id_1st_nz)+'_'+value_1st_nz

def _join2str(df):
    return df.apply(lambda x: "_".join(x.round(2).astype(str)), axis=1)

def _get_leak(df, cols, lag=0, n_thread=2):
    """
    Get leaked data
    """
    st = time.time()
    
    df_split = np.array_split(df[cols[lag+2:]], n_thread)
    df_shift_split = np.array_split(df[cols].shift(lag+2, axis=1)[cols[lag+2:]], n_thread)
    
    print(f'Shift columns: {time.time()-st:.2f} seconds!')
    with Pool(processes=n_thread) as p:
        result1 = p.map(_join2str, df_split)
        result2 = p.map(_join2str, df_shift_split)
        
    series_str = pd.concat(list(result1), ignore_index=True)
    series_shifted_str = pd.concat(list(result2), ignore_index=True)
#     series_str = df[cols[lag+2:]].apply(lambda x: "_".join(x.round(2).astype(str)), axis=1)
#     series_shifted_str = df[cols].shift(lag+2, axis=1)[cols[lag+2:]].apply(lambda x: 
#                                                                            "_".join(x.round(2).astype(str)), 
#                                                                            axis=1)   
    print(f'Create time series strings before and after shift: {time.time()-st:.2f} seconds!')
    
    st = time.time()
    series_dict = {}
    for i in range(len(series_str)):
        key = series_str[i]
        if key in series_dict.keys():
            continue
        series_dict[key] = i

    print(f'Create dictionary for faster search: {time.time()-st:.2f} seconds!')
    
    st = time.time()
    target_vals = series_shifted_str.apply(lambda x: df.loc[series_dict[x], cols[lag]] 
                                                   if x in series_dict else 0)
    print(f'Matching process finished: {time.time()-st:.2f} seconds!')
#     target_rows = series_shifted_str.progress_apply(lambda x: series_dict[x])
#     target_vals = target_rows.apply(lambda x: df.loc[x, cols[lag]] if len(x)==1 else 0)
    return target_vals

#     target_rows = series_shifted_str.progress_apply(lambda x: np.where(x == series_str)[0])
#     target_vals = target_rows.apply(lambda x: df.loc[x[0], cols[lag]] if len(x)==1 else 0)
#     return target_vals

def get_all_leak(df, cols=None, nlags=15):
    """
    We just recursively fetch target value for different lags
    """
    df =  df.copy()
    
    for i in range(nlags):
        print("Processing lag {}".format(i))
        df["leaked_target_"+str(i)] = _get_leak(df, cols, i)
    return df

In [27]:
%%time
## test the speed of get leaked data of one lag value
d = _get_leak(all_df, cols, 0)
test_ = all_df
test_['predict'] = d

Shift columns: 0.15 seconds!
Create time series strings before and after shift: 13.63 seconds!
Create dictionary for faster search: 0.78 seconds!
Matching process finished: 0.41 seconds!
CPU times: user 1.5 s, sys: 302 ms, total: 1.8 s
Wall time: 14.9 s

In [25]:
test_[['target', 'predict']]

             target      predict
0      3.800000e+07  38000000.00
1      6.000000e+05    600000.00
2      1.000000e+07         0.00
3      2.000000e+06         0.00
4      1.440000e+07         0.00
5      2.800000e+06         0.00
6      1.640000e+05         0.00
7      6.000000e+05    600000.00
8      9.790000e+05    979000.00
9      4.600000e+05         0.00
10     1.100000e+06         0.00
11     1.600000e+07         0.00
12     3.540000e+05         0.00
13     7.000000e+06   7000000.00
14     1.000000e+05   2000000.00
15     8.000000e+05         0.00
16     2.000000e+05         0.00
17     3.600000e+06   3600000.00
18     2.786000e+06   2786000.00
19     4.000000e+04         0.00
20     1.600000e+06         0.00
21     3.266667e+06   3266666.66
22     6.140000e+06         0.00
23     1.488600e+07  14886000.00
24     8.333333e+05   2000000.00
25     4.000000e+05         0.00
26     6.500000e+06         0.00
27     1.700000e+06         0.00
28     9.333333e+05         0.00
29     4.000000e+06   4000000.00
...             ...          ...
53771  5.944923e+06   2000000.00
53772  5.944923e+06   2000000.00
53773  5.944923e+06   6535000.00
53774  5.944923e+06   2000000.00
53775  5.944923e+06   2000000.00
53776  5.944923e+06         0.00
53777  5.944923e+06         0.00
53778  5.944923e+06   2000000.00
53779  5.944923e+06   2000000.00
53780  5.944923e+06         0.00
53781  5.944923e+06         0.00
53782  5.944923e+06         0.00
53783  5.944923e+06   2000000.00
53784  5.944923e+06         0.00
53785  5.944923e+06  20000000.00
53786  5.944923e+06   2000000.00
53787  5.944923e+06   2000000.00
53788  5.944923e+06   2000000.00
53789  5.944923e+06   2000000.00
53790  5.944923e+06   2000000.00
53791  5.944923e+06         0.00
53792  5.944923e+06   2000000.00
53793  5.944923e+06         0.00
53794  5.944923e+06         0.00
53795  5.944923e+06         0.00
53796  5.944923e+06         0.00
53797  5.944923e+06         0.00
53798  5.944923e+06         0.00
53799  5.944923e+06         0.00
53800  5.944923e+06         0.00

[53801 rows x 2 columns]

In [17]:
%%time
NLAGS = 25 #Increasing this might help push score a bit
all_df = get_all_leak(all_df, cols=cols, nlags=NLAGS)

Processing lag 0
Create time series strings before and after shift: 21.74 seconds!
Create dictionary for faster search: 0.68 seconds!
Matching process finished: 0.36 seconds!
Processing lag 1
Create time series strings before and after shift: 21.55 seconds!
Create dictionary for faster search: 0.67 seconds!
Matching process finished: 0.36 seconds!
Processing lag 2
Create time series strings before and after shift: 24.84 seconds!
Create dictionary for faster search: 0.75 seconds!
Matching process finished: 0.39 seconds!
Processing lag 3
Create time series strings before and after shift: 20.86 seconds!
Create dictionary for faster search: 0.73 seconds!
Matching process finished: 0.43 seconds!
Processing lag 4
Create time series strings before and after shift: 22.76 seconds!
Create dictionary for faster search: 0.70 seconds!
Matching process finished: 0.38 seconds!
Processing lag 5
Create time series strings before and after shift: 21.91 seconds!
Create dictionary for faster search: 0.83 seconds!
Matching process finished: 0.39 seconds!
Processing lag 6
Create time series strings before and after shift: 24.41 seconds!
Create dictionary for faster search: 0.78 seconds!
Matching process finished: 0.43 seconds!
Processing lag 7
Create time series strings before and after shift: 24.93 seconds!
Create dictionary for faster search: 0.81 seconds!
Matching process finished: 0.40 seconds!
Processing lag 8
Create time series strings before and after shift: 22.90 seconds!
Create dictionary for faster search: 0.72 seconds!
Matching process finished: 0.36 seconds!
Processing lag 9
Create time series strings before and after shift: 24.05 seconds!
Create dictionary for faster search: 1.06 seconds!
Matching process finished: 0.44 seconds!
Processing lag 10
Create time series strings before and after shift: 24.31 seconds!
Create dictionary for faster search: 0.72 seconds!
Matching process finished: 0.37 seconds!
Processing lag 11
Create time series strings before and after shift: 23.91 seconds!
Create dictionary for faster search: 0.91 seconds!
Matching process finished: 0.38 seconds!
Processing lag 12
Create time series strings before and after shift: 24.80 seconds!
Create dictionary for faster search: 1.09 seconds!
Matching process finished: 0.53 seconds!
Processing lag 13
Create time series strings before and after shift: 24.46 seconds!
Create dictionary for faster search: 0.68 seconds!
Matching process finished: 0.37 seconds!
Processing lag 14
Create time series strings before and after shift: 20.21 seconds!
Create dictionary for faster search: 0.66 seconds!
Matching process finished: 0.37 seconds!
Processing lag 15
Create time series strings before and after shift: 23.45 seconds!
Create dictionary for faster search: 0.86 seconds!
Matching process finished: 0.48 seconds!
Processing lag 16
Create time series strings before and after shift: 21.66 seconds!
Create dictionary for faster search: 0.81 seconds!
Matching process finished: 0.45 seconds!
Processing lag 17
Create time series strings before and after shift: 23.36 seconds!
Create dictionary for faster search: 0.66 seconds!
Matching process finished: 0.41 seconds!
Processing lag 18
Create time series strings before and after shift: 21.50 seconds!
Create dictionary for faster search: 0.70 seconds!
Matching process finished: 0.41 seconds!
Processing lag 19
Create time series strings before and after shift: 22.59 seconds!
Create dictionary for faster search: 0.72 seconds!
Matching process finished: 0.40 seconds!
Processing lag 20
Create time series strings before and after shift: 20.38 seconds!
Create dictionary for faster search: 0.65 seconds!
Matching process finished: 0.38 seconds!
Processing lag 21
Create time series strings before and after shift: 21.14 seconds!
Create dictionary for faster search: 0.71 seconds!
Matching process finished: 0.38 seconds!
Processing lag 22
Create time series strings before and after shift: 19.87 seconds!
Create dictionary for faster search: 0.65 seconds!
Matching process finished: 0.41 seconds!
Processing lag 23
Create time series strings before and after shift: 19.96 seconds!
Create dictionary for faster search: 0.67 seconds!
Matching process finished: 0.39 seconds!
Processing lag 24
Create time series strings before and after shift: 22.54 seconds!
Create dictionary for faster search: 0.69 seconds!
Matching process finished: 0.39 seconds!
CPU times: user 9min 41s, sys: 5.99 s, total: 9min 47s
Wall time: 9min 53s

In [30]:
%%time
leaky_cols = ["leaked_target_"+str(i) for i in range(NLAGS)]
train = train.join(all_df.set_index("ID")[leaky_cols], on="ID", how="left")
test = test.join(all_df.set_index("ID")[leaky_cols], on="ID", how="left")

ValueError: columns overlap but no suffix specified: Index(['leaked_target_0', 'leaked_target_1', 'leaked_target_2',
       'leaked_target_3', 'leaked_target_4', 'leaked_target_5',
       'leaked_target_6', 'leaked_target_7', 'leaked_target_8',
       'leaked_target_9', 'leaked_target_10', 'leaked_target_11',
       'leaked_target_12', 'leaked_target_13', 'leaked_target_14',
       'leaked_target_15', 'leaked_target_16', 'leaked_target_17',
       'leaked_target_18', 'leaked_target_19', 'leaked_target_20',
       'leaked_target_21', 'leaked_target_22', 'leaked_target_23',
       'leaked_target_24'],
      dtype='object')

In [100]:
## post-processing
for i in range(400):
    tar = train['target'].iloc[i]
#     lst = train[leaky_cols].iloc[i].unique()
#     if tar in lst:
#         print(f'True, {len(lst)}, {lst}')
#     else:
#         print(f'False, {len(lst)}, {lst}')
    nz_idx = train[leaky_cols].iloc[i].nonzero()[0]
    likely = train[leaky_cols].iloc[i][nz_idx].value_counts()
    print(likely)
#     if tar in lst:
#         print(f'True, {len(lst)}, {lst}')
#     else:
#         print(f'False, {len(lst)}, {lst}')

38000000.0    11
Name: 0, dtype: int64
600000.0    5
Name: 1, dtype: int64
Series([], Name: 2, dtype: int64)
2000000.00    2
3644666.66    1
2800000.00    1
Name: 3, dtype: int64
Series([], Name: 4, dtype: int64)
2800000.0    9
Name: 5, dtype: int64
164000.0    7
Name: 6, dtype: int64
600000.0    5
Name: 7, dtype: int64
979000.0    14
Name: 8, dtype: int64
460000.0    3
Name: 9, dtype: int64
1100000.0    3
Name: 10, dtype: int64
16000000.0    5
Name: 11, dtype: int64
354000.0    6
Name: 12, dtype: int64
7000000.0    1
Name: 13, dtype: int64
7000000.0     1
16000000.0    1
2000000.0     1
Name: 14, dtype: int64
800000.0    1
Name: 15, dtype: int64
200000.0    8
Name: 16, dtype: int64
3600000.0    14
Name: 17, dtype: int64
2786000.0    2
Name: 18, dtype: int64
40000.0    2
Name: 19, dtype: int64
1600000.0    6
Name: 20, dtype: int64
3266666.66    3
Name: 21, dtype: int64
6140000.0    21
Name: 22, dtype: int64
14886000.0    19
Name: 23, dtype: int64
7000000.0     1
16000000.0    1
2000000.0     1
Name: 24, dtype: int64
400000.0    2
Name: 25, dtype: int64
6500000.0    2
Name: 26, dtype: int64
1700000.0    5
Name: 27, dtype: int64
933333.34    19
Name: 28, dtype: int64
4000000.0    8
Name: 29, dtype: int64
7000000.0     1
16000000.0    1
2000000.0     1
Name: 30, dtype: int64
7000000.0     1
16000000.0    1
2000000.0     1
Name: 31, dtype: int64
4666666.66    5
Name: 32, dtype: int64
7000000.0     1
16000000.0    1
Name: 33, dtype: int64
890000.0    1
Name: 34, dtype: int64
6000000.0    9
Name: 35, dtype: int64
7000000.0     1
16000000.0    1
2000000.0     1
Name: 36, dtype: int64
2000000.0    5
Name: 37, dtype: int64
Series([], Name: 38, dtype: int64)
6400000.0    4
Name: 39, dtype: int64
20000000.0    1
Name: 40, dtype: int64
10000000.0    1
Name: 41, dtype: int64
5000000.0    8
Name: 42, dtype: int64
Series([], Name: 43, dtype: int64)
34738000.0    14
Name: 44, dtype: int64
4000000.0    18
Name: 45, dtype: int64
1650000.0    2
Name: 46, dtype: int64
7000000.0     1
16000000.0    1
2000000.0     1
Name: 47, dtype: int64
13200000.0    12
Name: 48, dtype: int64
10000000.0    2
Name: 49, dtype: int64
2450000.0    13
Name: 50, dtype: int64
10050000.0    13
Name: 51, dtype: int64
1400000.0    4
Name: 52, dtype: int64
2000000.0    13
Name: 53, dtype: int64
Series([], Name: 54, dtype: int64)
232000.0    2
Name: 55, dtype: int64
7000000.0     1
16000000.0    1
2000000.0     1
Name: 56, dtype: int64
300000.0    2
Name: 57, dtype: int64
100000.0    4
Name: 58, dtype: int64
8000000.0    8
Name: 59, dtype: int64
20000000.0    13
Name: 60, dtype: int64
19333333.34    5
Name: 61, dtype: int64
Series([], Name: 62, dtype: int64)
7000000.0     1
16000000.0    1
2000000.0     1
Name: 63, dtype: int64
28000000.0    14
Name: 64, dtype: int64
101000.0    5
Name: 65, dtype: int64
9000000.0    14
Name: 66, dtype: int64
12000000.0    11
Name: 67, dtype: int64
1068000.0    8
Name: 68, dtype: int64
10000000.0    5
Name: 69, dtype: int64
25000000.0    8
Name: 70, dtype: int64
78000.0    2
Name: 71, dtype: int64
5000000.0    7
Name: 72, dtype: int64
4000000.0    8
1000000.0    2
Name: 73, dtype: int64
32500000.0    18
Name: 74, dtype: int64
200000.0    9
Name: 75, dtype: int64
620000.0    6
Name: 76, dtype: int64
200000.0    7
Name: 77, dtype: int64
10000000.0    4
Name: 78, dtype: int64
5000000.0    1
Name: 79, dtype: int64
2290000.0    11
Name: 80, dtype: int64
3925333.34    15
Name: 81, dtype: int64
16000000.0    4
Name: 82, dtype: int64
56000.0    6
Name: 83, dtype: int64
9592000.0    7
Name: 84, dtype: int64
7000000.0    1
Name: 85, dtype: int64
Series([], Name: 86, dtype: int64)
4500000.0    2
Name: 87, dtype: int64
4000000.0    2
Name: 88, dtype: int64
Series([], Name: 89, dtype: int64)
Series([], Name: 90, dtype: int64)
4000000.0    13
Name: 91, dtype: int64
6008000.0    10
Name: 92, dtype: int64
1000000.0    3
Name: 93, dtype: int64
3000000.0    9
Name: 94, dtype: int64
30000000.0    22
Name: 95, dtype: int64
1800000.0    4
Name: 96, dtype: int64
7000000.0    8
Name: 97, dtype: int64
2453200.0    7
Name: 98, dtype: int64
7000000.0     1
16000000.0    1
2000000.0     1
Name: 99, dtype: int64
185200.0    3
Name: 100, dtype: int64
10000000.0    3
Name: 101, dtype: int64
Series([], Name: 102, dtype: int64)
600000.0    8
Name: 103, dtype: int64
2000000.0    6
Name: 104, dtype: int64
7000000.0     1
16000000.0    1
2000000.0     1
Name: 105, dtype: int64
7000000.0     1
16000000.0    1
2000000.0     1
Name: 106, dtype: int64
2400000.0    9
Name: 107, dtype: int64
2580000.0    3
Name: 108, dtype: int64
20000000.0    2
40000000.0    1
Name: 109, dtype: int64
7000000.0     1
16000000.0    1
2000000.0     1
Name: 110, dtype: int64
100000.0    11
Name: 111, dtype: int64
6000000.0    1
Name: 112, dtype: int64
160000.0    10
Name: 113, dtype: int64
3095200.0    8
Name: 114, dtype: int64
20000000.0    1
Name: 115, dtype: int64
1400000.0    13
Name: 116, dtype: int64
400000.0    2
Name: 117, dtype: int64
600000.00      12
26666666.66     1
Name: 118, dtype: int64
10000000.0    5
Name: 119, dtype: int64
1500000.0    9
Name: 120, dtype: int64
8000000.0    2
Name: 121, dtype: int64
350000.0    7
Name: 122, dtype: int64
600000.0    9
Name: 123, dtype: int64
Series([], Name: 124, dtype: int64)
16000000.0    9
Name: 125, dtype: int64
20000000.0    17
Name: 126, dtype: int64
10814666.66    20
Name: 127, dtype: int64
2000000.0    14
Name: 128, dtype: int64
7000000.0     1
16000000.0    1
Name: 129, dtype: int64
3000000.0    1
Name: 130, dtype: int64
800000.0    13
Name: 131, dtype: int64
Series([], Name: 132, dtype: int64)
34000.0    8
Name: 133, dtype: int64
4000000.0    9
Name: 134, dtype: int64
2600000.0    11
Name: 135, dtype: int64
25020000.0    14
Name: 136, dtype: int64
10000000.0    1
Name: 137, dtype: int64
2800000.0    6
Name: 138, dtype: int64
7000000.0     1
16000000.0    1
2000000.0     1
Name: 139, dtype: int64
100000.0    2
Name: 140, dtype: int64
700000.0    19
Name: 141, dtype: int64
7000000.0     1
16000000.0    1
2000000.0     1
Name: 142, dtype: int64
32000000.0    23
Name: 143, dtype: int64
3500000.0    10
Name: 144, dtype: int64
7000000.0     1
16000000.0    1
2000000.0     1
Name: 145, dtype: int64
26428571.42    4
Name: 146, dtype: int64
10000000.0    2
517400.0      1
Name: 147, dtype: int64
8500000.0     2
14000000.0    2
1900000.0     1
Name: 148, dtype: int64
2000000.0    18
Name: 149, dtype: int64
2000000.0    1
Name: 150, dtype: int64
200000.0    8
Name: 151, dtype: int64
7000000.0     1
16000000.0    1
2000000.0     1
Name: 152, dtype: int64
163000.0    1
Name: 153, dtype: int64
3734230.76    6
Name: 154, dtype: int64
Series([], Name: 155, dtype: int64)
25100000.0    24
Name: 156, dtype: int64
2500000.0    1
Name: 157, dtype: int64
Series([], Name: 158, dtype: int64)
1000000.0    1
Name: 159, dtype: int64
10000000.0    5
Name: 160, dtype: int64
3936000.0    17
Name: 161, dtype: int64
2610000.0    6
Name: 162, dtype: int64
Series([], Name: 163, dtype: int64)
7000000.0     1
16000000.0    1
2000000.0     1
Name: 164, dtype: int64
6000000.0    2
Name: 165, dtype: int64
1704666.66    11
Name: 166, dtype: int64
1600000.0    3
Name: 167, dtype: int64
4000000.0    5
Name: 168, dtype: int64
11852000.0    13
Name: 169, dtype: int64
8000000.0    4
Name: 170, dtype: int64
5000000.0    7
Name: 171, dtype: int64
410000.0    5
Name: 172, dtype: int64
40000000.0    4
Name: 173, dtype: int64
2000000.0    1
Name: 174, dtype: int64
103000.0    3
Name: 175, dtype: int64
21333333.34    11
Name: 176, dtype: int64
100000.0    8
Name: 177, dtype: int64
7913333.34    4
Name: 178, dtype: int64
2840000.0    3
Name: 179, dtype: int64
11973333.34    21
Name: 180, dtype: int64
1400000.0    9
Name: 181, dtype: int64
Series([], Name: 182, dtype: int64)
6000000.0    11
Name: 183, dtype: int64
2000000.0    1
Name: 184, dtype: int64
Series([], Name: 185, dtype: int64)
1800000.0    1
Name: 186, dtype: int64
Series([], Name: 187, dtype: int64)
1148000.0    19
Name: 188, dtype: int64
7000000.0     1
16000000.0    1
Name: 189, dtype: int64
10000000.0    3
Name: 190, dtype: int64
5000000.0    2
Name: 191, dtype: int64
3600000.0    4
Name: 192, dtype: int64
500000.0    23
Name: 193, dtype: int64
1916000.0    1
Name: 194, dtype: int64
300000.0    5
Name: 195, dtype: int64
1800000.0    5
Name: 196, dtype: int64
1900000.0    10
Name: 197, dtype: int64
193333.34     3
5000000.00    2
Name: 198, dtype: int64
7000000.0     1
16000000.0    1
2000000.0     1
Name: 199, dtype: int64
400000.0    6
Name: 200, dtype: int64
4100000.0    16
Name: 201, dtype: int64
7000000.0     1
16000000.0    1
2000000.0     1
Name: 202, dtype: int64
9300000.0    9
Name: 203, dtype: int64
4676000.0    16
Name: 204, dtype: int64
6000000.0    2
Name: 205, dtype: int64
Series([], Name: 206, dtype: int64)
3600000.0    8
Name: 207, dtype: int64
4000000.0    10
Name: 208, dtype: int64
600000.0    2
Name: 209, dtype: int64
7000000.0     1
16000000.0    1
2000000.0     1
Name: 210, dtype: int64
300000.0    14
Name: 211, dtype: int64
7000000.0     1
16000000.0    1
2000000.0     1
Name: 212, dtype: int64
10000000.0    12
Name: 213, dtype: int64
5187333.34    5
Name: 214, dtype: int64
446000.0    1
Name: 215, dtype: int64
Series([], Name: 216, dtype: int64)
Series([], Name: 217, dtype: int64)
7000000.0     1
16000000.0    1
2000000.0     1
Name: 218, dtype: int64
Series([], Name: 219, dtype: int64)
5000000.0    11
Name: 220, dtype: int64
400000.0    9
Name: 221, dtype: int64
5080000.0    1
Name: 222, dtype: int64
Series([], Name: 223, dtype: int64)
8400000.0    12
Name: 224, dtype: int64
16000000.0    1
Name: 225, dtype: int64
7000000.0     1
16000000.0    1
2000000.0     1
Name: 226, dtype: int64
360000.0    1
Name: 227, dtype: int64
10000000.0    13
Name: 228, dtype: int64

4000000.0    9
Name: 229, dtype: int64
30000000.0    3
Name: 230, dtype: int64
1192000.0    22
Name: 231, dtype: int64
1200000.0    10
Name: 232, dtype: int64
7000000.0     1
16000000.0    1
2000000.0     1
Name: 233, dtype: int64
400000.0    3
500000.0    1
Name: 234, dtype: int64
406000.0    22
Name: 235, dtype: int64
151750.0    3
Name: 236, dtype: int64
5000000.0    12
Name: 237, dtype: int64
14117000.0    1
Name: 238, dtype: int64
2000000.0    3
Name: 239, dtype: int64
10000000.0    3
Name: 240, dtype: int64
4000000.0    7
Name: 241, dtype: int64
14000000.0    2
Name: 242, dtype: int64
2900000.0    7
Name: 243, dtype: int64
1630000.0    14
Name: 244, dtype: int64
1477600.0    23
Name: 245, dtype: int64
16072000.0    16
Name: 246, dtype: int64
13800000.0    17
Name: 247, dtype: int64
8000000.0    1
Name: 248, dtype: int64
Series([], Name: 249, dtype: int64)
10000000.0    4
1460000.0     2
6000000.0     1
Name: 250, dtype: int64
1610000.0    11
Name: 251, dtype: int64
7000000.0     1
16000000.0    1
10000000.0    1
Name: 252, dtype: int64
9000000.0    3
Name: 253, dtype: int64
20000000.0    2
Name: 254, dtype: int64
7510000.0    7
Name: 255, dtype: int64
872000.0    3
Name: 256, dtype: int64
40000.0    5
Name: 257, dtype: int64
3000000.0    7
Name: 258, dtype: int64
500000.0    17
Name: 259, dtype: int64
7000000.0    3
Name: 260, dtype: int64
1200000.0    6
Name: 261, dtype: int64
2000000.0    14
Name: 262, dtype: int64
60000.0    10
Name: 263, dtype: int64
7000000.0     1
16000000.0    1
Name: 264, dtype: int64
21000000.0    1
Name: 265, dtype: int64
6717333.34    15
Name: 266, dtype: int64
2322000.0    1
Name: 267, dtype: int64
1440000.0    17
Name: 268, dtype: int64
Series([], Name: 269, dtype: int64)
1988666.66    21
Name: 270, dtype: int64
5660000.0    2
Name: 271, dtype: int64
2000000.00    3
3480000.00    1
1656363.64    1
100000.00     1
Name: 272, dtype: int64
50000.0    7
Name: 273, dtype: int64
20750000.0    8
Name: 274, dtype: int64
20000000.0    4
15200000.0    3
Name: 275, dtype: int64
7000000.0     1
16000000.0    1
2000000.0     1
Name: 276, dtype: int64
6000000.0    11
Name: 277, dtype: int64
18062333.34    1
Name: 278, dtype: int64
1130000.0    2
Name: 279, dtype: int64
4700000.0    2
Name: 280, dtype: int64
5579000.0    1
2000000.0    1
1000000.0    1
Name: 281, dtype: int64
7000000.0     1
16000000.0    1
2000000.0     1
Name: 282, dtype: int64
1943333.34    5
Name: 283, dtype: int64
10200000.0    16
Name: 284, dtype: int64
28000000.0    1
1400000.0     1
Name: 285, dtype: int64
7000000.0     1
16000000.0    1
2000000.0     1
Name: 286, dtype: int64
7000000.0     1
16000000.0    1
2000000.0     1
Name: 287, dtype: int64
1960000.0    4
Name: 288, dtype: int64
1000000.00     2
21600000.00    2
7666666.66     1
22750000.00    1
Name: 289, dtype: int64
15110000.0    2
Name: 290, dtype: int64
12221000.0    9
Name: 291, dtype: int64
1900000.0    2
Name: 292, dtype: int64
7000000.0     1
16000000.0    1
2000000.0     1
Name: 293, dtype: int64
800000.0    6
Name: 294, dtype: int64
4052000.0    2
Name: 295, dtype: int64
200000.0    11
Name: 296, dtype: int64
10000000.0    5
Name: 297, dtype: int64
4000000.0    2
Name: 298, dtype: int64
140000.0    3
Name: 299, dtype: int64
262666.66    8
Name: 300, dtype: int64
5000000.0    2
Name: 301, dtype: int64
2000000.0    12
Name: 302, dtype: int64
10000000.0    15
Name: 303, dtype: int64
Series([], Name: 304, dtype: int64)
5200000.0    8
Name: 305, dtype: int64
108000.0    8
Name: 306, dtype: int64
2000000.0    3
Name: 307, dtype: int64
7000000.0     1
16000000.0    1
2000000.0     1
Name: 308, dtype: int64
3520000.0    10
Name: 309, dtype: int64
600000.0      4
10500000.0    1
10250000.0    1
1000000.0     1
Name: 310, dtype: int64
1000000.0    3
Name: 311, dtype: int64
200000.0    8
Name: 312, dtype: int64
20000000.0    3
Name: 313, dtype: int64
1809333.34    24
Name: 314, dtype: int64
1500000.0    8
177000.0     3
Name: 315, dtype: int64
7000000.0     1
16000000.0    1
2000000.0     1
Name: 316, dtype: int64
Series([], Name: 317, dtype: int64)
8000000.0    2
Name: 318, dtype: int64
10440000.0    15
Name: 319, dtype: int64
20000000.0    1
Name: 320, dtype: int64
3400000.0    6
Name: 321, dtype: int64
400000.0    15
Name: 322, dtype: int64
5000000.0    11
Name: 323, dtype: int64
7000000.0     1
16000000.0    1
2000000.0     1
Name: 324, dtype: int64
5000000.0    15
Name: 325, dtype: int64
560000.0    10
Name: 326, dtype: int64
600000.0    1
Name: 327, dtype: int64
4000000.0    1
144000.0     1
700000.0     1
Name: 328, dtype: int64
7000000.0     1
16000000.0    1
2000000.0     1
Name: 329, dtype: int64
Series([], Name: 330, dtype: int64)
2000000.0    1
Name: 331, dtype: int64
304000.0    3
Name: 332, dtype: int64
600000.0    9
Name: 333, dtype: int64
3034400.0    1
Name: 334, dtype: int64
7000000.0     1
16000000.0    1
2000000.0     1
Name: 335, dtype: int64
2000000.0    3
Name: 336, dtype: int64
2000000.00    2
6000000.00    1
3445733.34    1
Name: 337, dtype: int64
39030000.0    16
Name: 338, dtype: int64
7000000.0     1
16000000.0    1
Name: 339, dtype: int64
1408000.0    15
Name: 340, dtype: int64
1200000.0    11
Name: 341, dtype: int64
48000.0    2
Name: 342, dtype: int64
2500000.0    2
Name: 343, dtype: int64
5400000.0    2
Name: 344, dtype: int64
193333.34     2
5000000.00    1
2000000.00    1
Name: 345, dtype: int64
13800000.0    5
Name: 346, dtype: int64
2900000.0    12
Name: 347, dtype: int64
7000000.0     1
16000000.0    1
2000000.0     1
Name: 348, dtype: int64
2000000.0    1
Name: 349, dtype: int64
7000000.0     1
16000000.0    1
2000000.0     1
Name: 350, dtype: int64
152000.0    11
Name: 351, dtype: int64
2692000.0    11
Name: 352, dtype: int64
8139000.0    4
Name: 353, dtype: int64
Series([], Name: 354, dtype: int64)
5228000.0    1
Name: 355, dtype: int64
450000.0    5
Name: 356, dtype: int64
200000.0    8
Name: 357, dtype: int64
12500000.0    3
Name: 358, dtype: int64
980000.0    13
Name: 359, dtype: int64
1000000.0    6
Name: 360, dtype: int64
6000000.0    16
Name: 361, dtype: int64
Series([], Name: 362, dtype: int64)
Series([], Name: 363, dtype: int64)
57000.0    3
90000.0    1
Name: 364, dtype: int64
850000.0    3
Name: 365, dtype: int64
8018000.0    5
Name: 366, dtype: int64
2000000.0    1
Name: 367, dtype: int64
9800000.0     4
11096000.0    1
8400000.0     1
Name: 368, dtype: int64
10849666.66    20
Name: 369, dtype: int64
200000.0    10
Name: 370, dtype: int64
1202000.0    18
Name: 371, dtype: int64
2384000.0    13
Name: 372, dtype: int64
10000000.0    5
Name: 373, dtype: int64
7000000.0     1
16000000.0    1
2000000.0     1
Name: 374, dtype: int64
16991333.34    20
Name: 375, dtype: int64
700000.0    4
Name: 376, dtype: int64
7000000.0     1
16000000.0    1
2000000.0     1
Name: 377, dtype: int64
2352551.72    23
Name: 378, dtype: int64
26400000.0    5
Name: 379, dtype: int64
350000.0    14
Name: 380, dtype: int64
4320000.0    11
Name: 381, dtype: int64
4000000.0    6
Name: 382, dtype: int64
4600000.0    3
Name: 383, dtype: int64
3590000.0    15
Name: 384, dtype: int64
12000000.0    2
Name: 385, dtype: int64
30000.0    6
Name: 386, dtype: int64
22166666.66    1
Name: 387, dtype: int64
686000.0    4
Name: 388, dtype: int64
7000000.0     1
16000000.0    1
2000000.0     1
Name: 389, dtype: int64
20000000.0    3
Name: 390, dtype: int64
3938750.0    23
Name: 391, dtype: int64
20000000.0    3
Name: 392, dtype: int64
20000000.0    3
Name: 393, dtype: int64
10000000.0    4
1460000.0     2
6000000.0     1
Name: 394, dtype: int64
7000000.0     1
16000000.0    1
2000000.0     1
Name: 395, dtype: int64
6208000.0    21
Name: 396, dtype: int64
10000000.0    2
9700000.0     1
Name: 397, dtype: int64
Series([], Name: 398, dtype: int64)
4500000.0    14
Name: 399, dtype: int64

In [143]:
train[['target']+leaky_cols]

,target,leaked_target_0,leaked_target_1,leaked_target_2,leaked_target_3,leaked_target_4,leaked_target_5,leaked_target_6,leaked_target_7,leaked_target_8,...,leaked_target_15,leaked_target_16,leaked_target_17,leaked_target_18,leaked_target_19,leaked_target_20,leaked_target_21,leaked_target_22,leaked_target_23,leaked_target_24
0,38000000.00,38000000.00,38000000.00,38000000.0,0.00,38000000.00,0.00,38000000.00,0.00,0.00,...,0.00,0.00,38000000.00,0.00,38000000.00,0.00,0.00,0.00,0.00,0.00
1,600000.00,600000.00,0.00,0.0,0.00,0.00,0.00,600000.00,0.00,600000.00,...,600000.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,10000000.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,2000000.00,0.00,2800000.00,0.0,2000000.00,0.00,0.00,0.00,0.00,3644666.66,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,14400000.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5,2800000.00,0.00,0.00,0.0,2800000.00,0.00,0.00,0.00,2800000.00,0.00,...,2800000.00,0.00,0.00,0.00,2800000.00,0.00,2800000.00,2800000.00,0.00,0.00
6,164000.00,0.00,0.00,0.0,164000.00,0.00,164000.00,0.00,0.00,0.00,...,0.00,164000.00,0.00,0.00,164000.00,0.00,0.00,0.00,0.00,0.00
7,600000.00,600000.00,0.00,0.0,0.00,0.00,0.00,600000.00,0.00,0.00,...,600000.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,600000.00,0.00
8,979000.00,979000.00,979000.00,979000.0,979000.00,979000.00,979000.00,0.00,0.00,0.00,...,979000.00,0.00,979000.00,979000.00,0.00,0.00,0.00,0.00,0.00,0.00
9,460000.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,460000.00,0.00,...,0.00,0.00,0.00,0.00,0.00,460000.00,460000.00,0.00,0.00,0.00
10,1100000.00,0.00,0.00,1100000.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,1100000.00,0.00,0.00,0.00,1100000.00,0.00,0.00,0.00,0.00
11,16000000.00,0.00,0.00,16000000.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,16000000.00,0.00,0.00,0.00,0.00,16000000.00
12,354000.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,354000.00,...,0.00,0.00,354000.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
13,7000000.00,7000000.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
14,100000.00,2000000.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
15,800000.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,800000.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
16,200000.00,0.00,200000.00,200000.0,200000.00,0.00,0.00,0.00,0.00,200000.00,...,0.00,0.00,0.00,200000.00,0.00,200000.00,0.00,0.00,0.00,0.00
17,3600000.00,3600000.00,0.00,0.0,0.00,3600000.00,3600000.00,3600000.00,3600000.00,3600000.00,...,0.00,3600000.00,0.00,3600000.00,0.00,0.00,3600000.00,3600000.00,3600000.00,3600000.00
18,2786000.00,2786000.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
19,40000.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,40000.00,0.00,0.00,0.00,0.00,0.00,0.00
20,1600000.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,1600000.00,...,0.00,0.00,0.00,0.00,1600000.00,0.00,0.00,0.00,0.00,1600000.00
21,3266666.66,3266666.66,3266666.66,0.0,0.00,3266666.66,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
22,6140000.00,0.00,6140000.00,6140000.0,6140000.00,0.00,6140000.00,6140000.00,6140000.00,6140000.00,...,6140000.00,6140000.00,6140000.00,6140000.00,0.00,6140000.00,6140000.00,6140000.00,6140000.00,6140000.00
23,14886000.00,14886000.00,14886000.00,0.0,14886000.00,14886000.00,14886000.00,14886000.00,14886000.00,0.00,...,14886000.00,14886000.00,0.00,0.00,14886000.00,14886000.00,14886000.00,14886000.00,0.00,0.00
24,833333.34,2000000.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25,400000.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,400000.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,400000.00
26,6500000.00,0.00,0.00,0.0,0.00,0.00,0.00,6500000.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
27,1700000.00,0.00,0.00,1700000.0,1700000.00,0.00,0.00,1700000.00,0.00,1700000.00,...,0.00,0.00,0.00,0.00,1700000.00,0.00,0.00,0.00,0.00,0.00
28,933333.34,0.00,0.00,0.0,933333.34,933333.34,933333.34,933333.34,933333.34,933333.34,...,933333.34,933333.34,933333.34,933333.34,933333.34,933333.34,933333.34,0.00,0.00,933333.34
29,4000000.00,4000000.00,0.00,0.0,4000000.00,0.00,0.00,0.00,4000000.00,4000000.00,...,4000000.00,0.00,0.00,0.00,4000000.00,0.00,4000000.00,0.00,4000000.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4429,1066666.66,1066666.66,0.00,0.0,1066666.66,1066666.66,1066666.66,1066666.66,1066666.66,1066666.66,...,0.00,1066666.66,1066666.66,1066666.66,1066666.66,0.00,1066666.66,0.00,1066666.66,0.00
4430,20100000.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4431,20000000.00,20000000.00,0.00,20000000.0,0.00,0.00,20000000.00,0.00,20000000.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4432,20000000.00,0.00,0.00,0.0,0.00,20000000.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,20000000.00,20000000.00,20000000.00,0.00,0.00,20000000.00,0.00
4433,2200000.00,2200000.00,2200000.00,0.0,2200000.00,2200000.00,2200000.00,0.00,0.00,2200000.00,...,2200000.00,2200000.00,0.00,0.00,2200000.00,0.00,2200000.00,0.00,2200000.00,0.00
4434,74000.00,0.00,0.00,0.0,0.00,74000.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4435,800000.00,0.00,800000.00,800000.0,800000.00,0.00,800000.00,800000.00,800000.00,800000.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4436,20000000.00,0.00,0.00,0.0,20000000.00,0.00,0.00,20000000.00,0.00,0.00,...,0.00,20000000.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4437,5000000.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,5000000.00,...,0.00,5000000.00,5000000.00,5000000.00,0.00,0.00,0.00,0.00,5000000.00,0.00
4438,6000000.00,0.00,6000000.00,0.0,0.00,0.00,6000000.00,0.00,0.00,0.00,...,6000000.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4439,4666666.66,0.00,4666666.66,0.0,4666666.66,4666666.66,0.00,4666666.66,4666666.66,4666666.66,...,4666666.66,0.00,0.00,0.00,0.00,0.00,4666666.66,4666666.66,0.00,0.00
4440,60000.00,0.00,60000.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,60000.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4441,600000.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4442,2000000.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,2000000.00,2000000.00,0.00,0.00,2000000.00,0.00,0.00,0.00,0.00,0.00
4443,528666.66,528666.66,528666.66,0.0,528666.66,528666.66,528666.66,528666.66,528666.66,528666.66,...,528666.66,528666.66,528666.66,528666.66,528666.66,528666.66,528666.66,528666.66,528666.66,528666.66
4444,300000.00,0.00,300000.00,0.0,0.00,0.00,0.00,300000.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4445,1000000.00,0.00,1000000.00,1000000.0,0.00,0.00,1000000.00,0.00,0.00,0.00,...,1000000.00,1000000.00,0.00,0.00,1000000.00,0.00,0.00,0.00,0.00,0.00
4446,10000000.00,0.00,0.00,0.0,0.00,10000000.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,10000000.00,0.00,0.00,500000.00
4447,4000000.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4448,3250000.00,0.00,0.00,3250000.0,0.00,0.00,3250000.00,0.00,3250000.00,3250000.00,...,3250000.00,3250000.00,0.00,3250000.00,3250000.00,0.00,0.00,0.00,0.00,0.00
4449,10000000.00,7400000.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,2200000.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4450,21700000.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,9000000.00,0.00,0.00,0.00,0.00
4451,21320000.00,0.00,0.00,0.0,0.00,21320000.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4452,400000.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4453,4000000.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4454,1065000.00,1065000.00,1065000.00,1065000.0,1065000.00,1065000.00,1065000.00,1065000.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4455,48000.00,48000.00,0.00,48000.0,48000.00,0.00,48000.00,0.00,48000.00,48000.00,...,48000.00,48000.00,48000.00,0.00,0.00,0.00,48000.00,0.00,0.00,48000.00
4456,2800000.00,2800000.00,2800000.00,0.0,2800000.00,2800000.00,2800000.00,2800000.00,2800000.00,2800000.00,...,2800000.00,2800000.00,0.00,0.00,2800000.00,2800000.00,2800000.00,2800000.00,2800000.00,0.00
4457,10000000.00,10000000.00,0.00,0.0,0.00,0.00,10000000.00,0.00,0.00,0.00,...,0.00,0.00,10000000.00,0.00,0.00,0.00,0.00,10000000.00,0.00,10000000.00
4458,20000000.00,20000000.00,20000000.00,0.0,0.00,20000000.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [144]:
tmp = train[['target']+leaky_cols].iloc[275].value_counts().reset_index().sort_values(by=275)

In [141]:
tmp.iloc

        index  275
1  15200000.0    4
2  20000000.0    4
0         0.0   18

In [31]:
train[["target"]+leaky_cols].head(30)

,target,leaked_target_0,leaked_target_1,leaked_target_2,leaked_target_3,leaked_target_4,leaked_target_5,leaked_target_6,leaked_target_7,leaked_target_8,...,leaked_target_15,leaked_target_16,leaked_target_17,leaked_target_18,leaked_target_19,leaked_target_20,leaked_target_21,leaked_target_22,leaked_target_23,leaked_target_24
0,38000000.00,38000000.00,38000000.00,38000000.0,0.00,38000000.00,0.00,38000000.00,0.00,0.00,...,0.00,0.00,38000000.00,0.00,38000000.00,0.00,0.00,0.0,0.0,0.00
1,600000.00,600000.00,0.00,0.0,0.00,0.00,0.00,600000.00,0.00,600000.00,...,600000.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.00
2,10000000.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.00
3,2000000.00,0.00,2800000.00,0.0,2000000.00,0.00,0.00,0.00,0.00,3644666.66,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.00
4,14400000.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.00
5,2800000.00,0.00,0.00,0.0,2800000.00,0.00,0.00,0.00,2800000.00,0.00,...,2800000.00,0.00,0.00,0.00,2800000.00,0.00,2800000.00,2800000.0,0.0,0.00
6,164000.00,0.00,0.00,0.0,164000.00,0.00,164000.00,0.00,0.00,0.00,...,0.00,164000.00,0.00,0.00,164000.00,0.00,0.00,0.0,0.0,0.00
7,600000.00,600000.00,0.00,0.0,0.00,0.00,0.00,600000.00,0.00,0.00,...,600000.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,600000.0,0.00
8,979000.00,979000.00,979000.00,979000.0,979000.00,979000.00,979000.00,0.00,0.00,0.00,...,979000.00,0.00,979000.00,979000.00,0.00,0.00,0.00,0.0,0.0,0.00
9,460000.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,460000.00,0.00,...,0.00,0.00,0.00,0.00,0.00,460000.00,460000.00,0.0,0.0,0.00
10,1100000.00,0.00,0.00,1100000.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,1100000.00,0.00,0.00,0.00,1100000.00,0.00,0.0,0.0,0.00
11,16000000.00,0.00,0.00,16000000.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,16000000.00,0.00,0.00,0.0,0.0,16000000.00
12,354000.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,354000.00,...,0.00,0.00,354000.00,0.00,0.00,0.00,0.00,0.0,0.0,0.00
13,7000000.00,7000000.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.00
14,100000.00,2000000.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.00
15,800000.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,800000.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.00
16,200000.00,0.00,200000.00,200000.0,200000.00,0.00,0.00,0.00,0.00,200000.00,...,0.00,0.00,0.00,200000.00,0.00,200000.00,0.00,0.0,0.0,0.00
17,3600000.00,3600000.00,0.00,0.0,0.00,3600000.00,3600000.00,3600000.00,3600000.00,3600000.00,...,0.00,3600000.00,0.00,3600000.00,0.00,0.00,3600000.00,3600000.0,3600000.0,3600000.00
18,2786000.00,2786000.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.00
19,40000.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,40000.00,0.00,0.00,0.00,0.0,0.0,0.00
20,1600000.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,1600000.00,...,0.00,0.00,0.00,0.00,1600000.00,0.00,0.00,0.0,0.0,1600000.00
21,3266666.66,3266666.66,3266666.66,0.0,0.00,3266666.66,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.00
22,6140000.00,0.00,6140000.00,6140000.0,6140000.00,0.00,6140000.00,6140000.00,6140000.00,6140000.00,...,6140000.00,6140000.00,6140000.00,6140000.00,0.00,6140000.00,6140000.00,6140000.0,6140000.0,6140000.00
23,14886000.00,14886000.00,14886000.00,0.0,14886000.00,14886000.00,14886000.00,14886000.00,14886000.00,0.00,...,14886000.00,14886000.00,0.00,0.00,14886000.00,14886000.00,14886000.00,14886000.0,0.0,0.00
24,833333.34,2000000.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.00
25,400000.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,400000.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,400000.00
26,6500000.00,0.00,0.00,0.0,0.00,0.00,0.00,6500000.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.00
27,1700000.00,0.00,0.00,1700000.0,1700000.00,0.00,0.00,1700000.00,0.00,1700000.00,...,0.00,0.00,0.00,0.00,1700000.00,0.00,0.00,0.0,0.0,0.00
28,933333.34,0.00,0.00,0.0,933333.34,933333.34,933333.34,933333.34,933333.34,933333.34,...,933333.34,933333.34,933333.34,933333.34,933333.34,933333.34,933333.34,0.0,0.0,933333.34
29,4000000.00,4000000.00,0.00,0.0,4000000.00,0.00,0.00,0.00,4000000.00,4000000.00,...,4000000.00,0.00,0.00,0.00,4000000.00,0.00,4000000.00,0.0,4000000.0,0.00

In [31]:
%%time
train["nonzero_mean"] = train[transact_cols].apply(lambda x: np.expm1(np.log1p(x[x!=0]).mean()), axis=1)
test["nonzero_mean"] = test[transact_cols].apply(lambda x: np.expm1(np.log1p(x[x!=0]).mean()), axis=1)

In [33]:
%%time
#We start with 1st lag target and recusrsively fill zero's
train["compiled_leak"] = 0
test["compiled_leak"] = 0
for i in range(NLAGS):
    train.loc[train["compiled_leak"] == 0, "compiled_leak"] = train.loc[train["compiled_leak"] == 0, "leaked_target_"+str(i)]
    test.loc[test["compiled_leak"] == 0, "compiled_leak"] = test.loc[test["compiled_leak"] == 0, "leaked_target_"+str(i)]
    
print("Leak values found in train and test ", sum(train["compiled_leak"] > 0), sum(test["compiled_leak"] > 0))
print("% of correct leaks values in train ", sum(train["compiled_leak"] == train["target"])/sum(train["compiled_leak"] > 0))

train.loc[train["compiled_leak"] == 0, "compiled_leak"] = train.loc[train["compiled_leak"] == 0, "nonzero_mean"]
test.loc[test["compiled_leak"] == 0, "compiled_leak"] = test.loc[test["compiled_leak"] == 0, "nonzero_mean"]

Leak values found in train and test  4072 32698
% of correct leaks values in train  0.8747544204322201
CPU times: user 5.13 s, sys: 7.08 s, total: 12.2 s
Wall time: 9.51 s

In [34]:
from sklearn.metrics import mean_squared_error
np.sqrt(mean_squared_error(y, np.log1p(train["compiled_leak"]).fillna(14.49)))

0.8014511083501742

In [35]:
sub = test[["ID"]]
sub["target"] = test["compiled_leak"]
sub.to_csv("baseline_submission_with_leaks.csv", index=False)

/Users/liumohan/miniconda3/envs/datascience/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [36]:
result = pd.read_csv('./baseline_submission_with_leaks.csv')

In [37]:
result.shape

(49342, 2)